<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" id="main-container">
    <h2 th:text="#{friends.title}"></h2>



    <p th:text="#{friends.list.p1}"></p>

    <button type="button" id="updateButton" class="btn btn-primary" th:text="#{friends.list.button}"></button>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $( "#updateButton" ).click(function() {
            var numberPage = [[${param.page}]];
            var urlUpdate = '/friends/list/update';
            if (numberPage != null ) {
                urlUpdate += "?page="+numberPage[0];
            }
            $("#tableFriends").load(urlUpdate);
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableFriends" id="tableFriends" th:replace="fragments/friendsTable"/>
    </div>

    <div th:if="${#lists.isEmpty(friendsList)}" th:text="#{friends.list.noFriends}"></div>

    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>